@font-face {
  font-family: "Trebuchet-MS";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Trebuchet-MS/Trebuchet-MS.eot?#iefix") format("embedded-opentype"), url("../fonts/Trebuchet-MS/Trebuchet-MS.woff") format("woff"), url("../fonts/Trebuchet-MS/Trebuchet-MS.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansSemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansCondensedBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.woff") format("woff"), url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansCondensedLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"), url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype");
}
