@charset "UTF-8";
.before, .main-head::before, .header-wrap li::before, footer.bottom-line::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.after, .main-head::after, .home_sect::after, .home_sect .section-head h2::after, .section_2.home_sect::after, .info-item::after, .item-wrap .my::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

/* My icon */
.my {
  color: #f39f18;
}

/* Свойства Кнопки */
.button-wrap {
  text-align: center;
}

.buttons {
  display: inline-block;
  padding: 15px 35px;
  margin: 0 5px;
  border: none;
  border-bottom: 3px solid #b97200;
  background-color: #f39f18;
  font-family: "PFCentroSlabProBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 20px;
  color: #111;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  text-decoration: none;
}

.buttons:hover {
  background-color: #fec871;
  color: #111;
}

.buttons:active {
  color: #111;
  text-decoration: none;
  background-color: #d18a18;
}

.buttons:focus {
  color: #111;
  text-decoration: none;
}

/* Карточки из 4 и 5 секции */
.cards {
  text-align: center;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.cards .card {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  margin-bottom: 20px;
  padding: 55px 30px;
  width: 260px;
  height: 380px;
  background-color: #2c3949;
  color: #97a4b2;
  font-size: 14px;
  line-height: 19px;
}

.cards .card-off {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  opacity: 0;
}

.cards .card-on {
  opacity: 1;
}

.cards .card h5 {
  margin-bottom: 25px;
  font-family: "RalewayBold";
  color: #e5e5e5;
}

.cards .card p span {
  font-family: "RalewayBold";
  color: #f39f18;
}

.cards .card .card-icon {
  display: inline-block;
  margin-bottom: 37px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.card:first-child .card-icon {
  background-image: url("../img/discount.png");
}

.card:first-child .card-icon span {
  display: inline-block;
  padding-top: 45px;
  font-family: "PFCentroSlabProBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 40px;
  line-height: 33px;
  color: #fff;
}

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

ol, ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  /* Свойства писать здесь */
}

body input:required:valid,
body textarea:required:valid {
  /* Свойства писать здесь */
}

.hidden {
  display: none;
}

body {
  font-family: "RalewayRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.375em;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Начальные свойства */
a, a:hover, a:active, a:focus {
  color: #f39f18;
  text-decoration: underline;
  -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
}

a:hover {
  text-decoration: none;
}

.main-head {
  position: relative;
}

.main-head::after {
  height: 6px;
  background-image: url("../img/bahroma-white.png");
  background-repeat: repeat-x;
}

.main-head h1 {
  font-family: "PFCentroSlabProMedium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 3em;
  color: #fff;
  line-height: 65px;
}

h2, h3, h4, h5, h6 {
  font-family: "PFCentroSlabProMedium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #2c3949;
}

h2 {
  font-size: 1.875em;
  line-height: 36px;
}

h3 {
  font-size: 1.5em;
  line-height: 36px;
}

h4 {
  font-size: 1.375em;
  line-height: 24px;
  text-transform: none;
}

h5 {
  font-size: 16px;
}

b, strong {
  font-family: "RalewayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: normal;
}

/* Голова сайта */
.main-head {
  padding-bottom: 70px;
  position: relative;
  min-height: 480px;
  background-position: top center;
  background-size: cover;
}

.main-head::before {
  background-color: #394b5f;
  opacity: .85;
}

.top-line, footer.bottom-line {
  padding-top: 45px;
  min-height: 200px;
  background-image: url("../img/header-grad.png");
  background-repeat: repeat-x;
}

.top-line .logo, footer.bottom-line .logo {
  opacity: .95;
  width: 105px;
}

.main-mnu {
  text-align: right;
  font-size: 1em;
}

.main-mnu li {
  display: inline-block;
  line-height: 42px;
}

.main-mnu li a {
  color: #fff;
  text-decoration: none;
}

.main-mnu li.actived a, .main-mnu li:hover a {
  color: #f39f18;
  text-decoration: underline;
}

.main-mnu li + li {
  margin-left: 15px;
}

.phone-wrap {
  position: relative;
}

.phone-wrap .phone {
  text-align: right;
  font-family: "RobotoBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.375em;
  line-height: 42px;
  color: #fff;
  opacity: .9;
  white-space: nowrap;
}

/* Кнопка выпадающего меню */
.toggle-mnu {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  text-decoration: none;
  width: 28px;
  height: 28px;
  z-index: 2;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.toggle-mnu span:after {
  top: 9px;
}

.toggle-mnu span {
  position: relative;
  top: 67%;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.toggle-mnu.on span {
  background-color: transparent;
}

.toggle-mnu.on span:before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
      -ms-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.toggle-mnu.on span:after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
      -ms-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}

.toggle-mnu.on + #menu {
  opacity: 1;
  visibility: visible;
}

/** Кнопка выпадающего меню **/
.header-wrap {
  color: #fff;
  opacity: none;
  margin-bottom: 50px;
}

.header-wrap h1 {
  display: inline-block;
  margin-top: 125px;
  margin-bottom: 40px;
  border-bottom: 8px solid #f39f18;
}

.header-wrap li {
  position: relative;
  padding-left: 15px;
  font-family: "RalewaySemiBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.header-wrap li::before {
  width: 7px;
  height: 11px;
  margin-top: 3px;
  height: 0;
  width: 0;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #f39f18;
  border-top: 6px solid transparent;
}

.header-wrap li a {
  color: #fff;
  text-decoration: none;
}

.header-wrap li.actived a, .header-wrap li:hover a {
  color: #f39f18;
  text-decoration: underline;
}

.header-left {
  margin-bottom: 40px;
}

/* Стили формы */
.main-form {
  padding: 35px 30px;
  background-color: rgba(57, 75, 95, 0.85);
  opacity: .8;
  font-size: 14px;
  color: #97a4b2;
  border-bottom: 4px solid #1c242c;
}

.main-form label {
  display: block;
}

.main-form label span {
  display: inline-block;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
  color: #778390;
}

.main-form input {
  font-family: "RalewayRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
  height: 43px;
  outline: none;
  border: none;
  border-top: 4px solid #1f2a36;
  background-color: #34465a;
  color: #fff;
}

.main-form input:focus {
  border-color: #141516;
  background-color: #415367;
}

.main-form h2 {
  padding-bottom: 15px;
  text-transform: none;
  color: #fff;
}

.main-form p {
  padding-bottom: 25px;
}

.main-form .buttons {
  margin-top: 10px;
}

.arrow-bottom {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url("../img/arrow-down.png");
  position: relative;
  z-index: 3;
  cursor: pointer;
  -webkit-transition: all 0.35s ease;
          transition: all 0.35s ease;
  opacity: .5;
}

.arrow-bottom:hover {
  opacity: .9;
}

/* Общие стили секций */
.section-content {
  position: relative;
  margin-bottom: 20px;
}

.section-bottom {
  padding: 60px 0 65px;
  background-color: #e5e5e5;
  text-align: center;
}

.section-bottom.blue-sect {
  background-color: #394b5f;
}

.home_sect {
  position: relative;
  background-color: #f9f9f9;
}

.home_sect::after {
  height: 6px;
  background-image: url("../img/bahroma-white.png");
  background-repeat: repeat-x;
}

.home_sect.blue-sect {
  background-color: #2c3949;
  color: #e5e5e5;
}

.home_sect.blue-sect .section-bottom {
  background-color: #394b5f;
}

.home_sect.blue-sect h2 {
  color: #f9f9f9;
}

.home_sect .section-head {
  margin-bottom: 65px;
  padding-top: 80px;
  text-align: center;
}

.home_sect .section-head h2 {
  margin-bottom: 70px;
  position: relative;
}

.home_sect .section-head h2::after {
  display: inline-block;
  bottom: -35px;
  height: 4px;
  width: 165px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #f39f18;
}

.home_sect .section-head p {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

.home_sect .section-head a {
  font-family: "RalewayBold";
}

.section_2.home_sect::after {
  height: 6px;
  background-image: url("../img/bahroma-blue.png");
  background-repeat: repeat-x;
}

/* Блоки с информацией */
.info-item {
  position: relative;
  margin: 70px 0;
  padding-left: 50px;
  max-width: 320px;
  line-height: 18px;
}

.info-item::after {
  bottom: -25px;
  left: 50px;
  height: 1px;
  width: 250px;
  background-color: #dee1e5;
}

.info-item h3 {
  margin-bottom: 25px;
  line-height: 24px;
  text-transform: none;
}

.info-item-nth_2 {
  margin: 0;
}

.blue-sect .info-item {
  color: #f3f3f3;
}

.blue-sect .info-item::after {
  background-color: #546476;
}

.item-wrap {
  height: 260px;
  padding-bottom: 65px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}

.item-wrap.on {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.item-wrap:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}

.item-wrap .my {
  position: relative;
  margin-bottom: 55px;
  text-decoration: none;
}

.item-wrap .my::after {
  bottom: -35px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 1px;
  width: 60px;
  background-color: #f39f18;
}

.item-wrap p {
  font-family: "RalewayBold";
  font-size: 13px;
}

.item-wrap p a {
  display: inline-block;
  color: #111;
}

/* Первая секция */
.section_1 .section-bottom {
  background-color: #2c3949;
}

.section_1 .section-content {
  min-height: 520px;
  background-image: url("../img/bg-sect-1.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.section_1 .s1-bottom {
  position: relative;
  padding: 15px 0 65px;
  background-color: #394b5f;
  min-height: 260px;
  /* Блок с фоновым треугольником */
}

.section_1 .s1-bottom .info-item {
  margin-top: 20px;
}

.section_1 .s1-bottom .info-item-nth_2 {
  margin-top: 90px;
}

.section_1 .s1-bottom .s1-bottom-triangle {
  position: absolute;
  width: 100%;
  height: 100px;
  top: -99px;
  left: 0;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  text-align: center;
}

.section_1 .s1-bottom .s1-bottom-triangle .triangle-logo {
  position: relative;
  margin-top: 50px;
  margin-left: -25px;
  width: 117px;
  opacity: .3;
  z-index: 2;
}

.section_1 .s1-bottom .logo-triangle-top {
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -90px;
  width: 160px;
}

/* Вторая секция */
.section_2 h3 {
  margin-bottom: 80px;
  text-align: center;
}

/* Третья секция */
.section_3.home_sect::after {
  background-image: url("../img/bahroma-gray.png");
}

.section_3 .section-content {
  background-image: url("../img/bg-sect-2.png");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 850px;
}

.section_3 .section-content .my.my_k {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 135px;
}

.section_3 .section-content .info-item {
  margin: 100px 0 50px 0;
  padding-left: 50px;
  max-width: 300px;
}

.section_3 .section-content .info-item::after {
  display: none;
}

.section_3 .section-content .info-item.info-item-nth_2 {
  margin: 20px 0 50px;
}

.section_3 .section-content .info-item.info-item-nth_4 {
  padding-left: 0;
  max-width: 265px;
}

.section_3 .section-content .info-item.info-item-nth_5 {
  max-width: 360px;
  padding-left: 100px;
}

.section_3 .section-content .info-item.info-item-nth_7 {
  margin-top: 200px;
}

/* Четвертая секция */
.section_4 {
  background-color: #e5e5e5;
}

.section_4.home_sect::after {
  background-image: url("../img/bahroma-blue.png");
}

.section_4 .section-bottom {
  background-color: #d6d6d6;
}

.section_4 h3 {
  margin-bottom: 80px;
  text-align: center;
}

.section_4 .section-content {
  padding-bottom: 50px;
}

/* Пятая секция */
.section_5.home_sect::after {
  background-image: url("../img/bahroma-gray.png");
}

.section_5 .section-head {
  margin-bottom: 30px;
}

.section_5 .triangles-container {
  padding-bottom: 75px;
  text-align: center;
  color: #f9f9f9;
  font-family: "PFCentroSlabProMedium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.section_5 .triangles-container .tc-item {
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  margin-right: -40px;
  width: 290px;
  height: 130px;
  cursor: pointer;
}

.section_5 .triangles-container .tc-item .tc-content {
  display: none;
}

.section_5 .triangles-container .tc-item .tc-content.tc-content-on {
  display: block;
}

.section_5 .triangles-container .tc-item .my {
  position: absolute;
  top: 50%;
  left: 45px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.section_5 .triangles-container .tc-item .my.my_n, .section_5 .triangles-container .tc-item .my.my_o, .section_5 .triangles-container .tc-item .my.my_p, .section_5 .triangles-container .tc-item .my.my_q {
  font-size: 50px;
  color: #f9f9f9;
}

.section_5 .triangles-container .tc-item .descr {
  position: absolute;
  top: 45px;
  left: 100px;
  text-align: left;
}

.section_5 .triangles-container .tc-item .descr strong {
  display: block;
  float: left;
  margin-right: 7px;
  height: 40px;
  font-family: "PFCentroSlabProBold";
  font-size: 22px;
  line-height: 20px;
}

.section_5 .triangles-container .tc-item .descr a {
  display: block;
  text-decoration: none;
  color: #f9f9f9;
}

.section_5 .triangles-container .tc-item .descr a:hover {
  text-decoration: underline;
}

.section_5 .triangles-container .tc-item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.section_5 .triangles-container .tc-item:hover path {
  fill-opacity: 0 !important;
  stroke-opacity: 1 !important;
}

.tc-item:first-child .my {
  left: 30px;
}

.tc-item:first-child .descr {
  margin-left: -10px;
}

/* Шестая секция */
.section_6 {
  background-color: #f9f9f9;
}

.section_6.home_sect::after {
  background-image: url("../img/bahroma-gray-2.png");
}

.section_6 .section-content {
  margin-bottom: 0;
}

.section_6 .cards {
  margin-bottom: 65px;
}

.section_6 .cards .card {
  background-color: #e5e5e5;
  color: #6e7b8b;
}

.section_6 .cards .card:first-child .card-icon {
  background-image: none;
}

.section_6 .cards .card .card-icon {
  background-color: transparent;
  border: 5px solid #d6d6d6;
}

.section_6 .cards .card img {
  width: 100%;
}

.section_6 .cards .card h5 {
  margin-bottom: 10px;
  color: #333;
  text-transform: none;
}

.section_6 .cards .card p {
  font-size: 13px;
  margin-bottom: 35px;
}

.section_6 .cards .card .team-phone {
  font-size: 16px;
  font-family: "RobotoBold";
  color: #333;
}

/* Седьмая секция */
.section_7 {
  background-color: #e5e5e5;
}

.section_7.home_sect::after {
  background-image: url("../img/bahroma-white.png");
}

.section_7 .section-content {
  margin-bottom: 0;
  padding-bottom: 90px;
}

/* Слайдер */
.slider .owl-item .img-wrap, .slider .owl-item .slide-descr, .slider .owl-item h4, .slider .owl-item p {
  opacity: 0;
  -webkit-transform: translate3d(200px, 0, 0);
          transform: translate3d(200px, 0, 0);
  -webkit-transition: all 0.7s ease;
          transition: all 0.7s ease;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.slider .owl-item h4 {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.slider .owl-item .slide-descr {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.slider .owl-item p {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.slider .owl-item.active .img-wrap, .slider .owl-item.active .slide-descr, .slider .owl-item.active h4, .slider .owl-item.active p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slider .owl-controls {
  margin-top: 25px;
  text-align: center;
}

.slider .owl-controls .owl-dot {
  display: inline-block;
  margin: 0 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d6d6d6;
}

.slider .owl-controls .owl-dot.active {
  background-color: #f39f18;
}

.slider .owl-controls .owl-nav {
  position: absolute;
  top: 12%;
  width: 100%;
}

.slider .owl-controls .owl-nav > div {
  position: absolute;
  left: 40px;
  width: 16px;
  height: 29px;
  background-image: url("../img/slider-arrow.png");
  opacity: .4;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.slider .owl-controls .owl-nav > div:hover {
  opacity: 1;
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}

.slider .owl-controls .owl-nav .owl-next {
  right: 40px;
  left: auto;
  background-position: 16px 0;
}

.slider .slide {
  position: relative;
  text-align: center;
}

.slider .slide .img-wrap {
  display: inline-block;
  margin-bottom: 30px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 7px solid #f39f18;
}

.slider .slide .img-wrap img {
  width: 100%;
  border-radius: 50%;
}

.slider .slide h4 {
  font-family: "RalewayBold";
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

.slider .slide .slide-descr {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 13px;
  color: #6e7b8b;
}

.slider .slide p {
  font-size: 14px;
  color: #333;
}

/* Восьмая секция */
.section_8 {
  margin-bottom: 60px;
}

.section_8 .section-head.left_sect {
  margin-bottom: 10px;
  text-align: left;
}

.section_8 .section-head.left_sect p {
  margin-bottom: 50px;
}

.section_8 .section-head.left_sect h2::after {
  left: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.section_8 .section-head.left_sect .item-wrap p {
  font-size: 12px;
}

.section_8 .section-head.left_sect .item-wrap .my {
  margin-bottom: 30px;
  font-family: "myfont";
  font-size: 75px;
}

.section_8 .section-head.left_sect .item-wrap .my::after {
  display: none;
}

.section_8 .section-content.right_sect .main-form {
  opacity: 1;
  background-color: #ddd;
  color: #5e6267;
  border-color: #828282;
}

.section_8 .section-content.right_sect .main-form h2 {
  color: #2c3949;
}

.section_8 .section-content.right_sect .main-form input {
  border-top: 4px solid #737373;
  background-color: #c0c0c0;
  color: #000;
}

.section_8 .section-content.right_sect .main-form input:focus {
  border-color: #141516;
  background-color: #c0c0c0;
}

/* Футер */
footer.bottom-line {
  position: relative;
  padding-top: 85px;
  background-image: none;
  background-color: #2c3949;
  opacity: none !important;
}

footer.bottom-line::before {
  height: 6px;
  top: -6px;
  background-image: url("../img/bahroma-blue.png");
  background-repeat: repeat-x;
}

footer.bottom-line .logo {
  opacity: .35;
}

footer.bottom-line .main-mnu {
  opacity: .65;
}

footer.bottom-line .phone {
  opacity: .45;
}

/* Кнопка наверх */
.btn-top {
  height: 37px;
  background-color: #1f2b3a;
  background-image: url("../img/btn-top.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

.btn-top:hover {
  background-color: #18273a;
}

/* Скрытая форма */
.mfp-forms #callback.main-form {
  position: relative;
  margin: auto;
  max-width: 360px;
  opacity: 1;
  background-color: #394b5f;
}

.mfp-forms #callback.main-form h2 {
  line-height: 30px;
  margin-bottom: 17px;
}

.mfp-forms .mfp-close {
  color: #fff;
}

.mfp-forms.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
}

.mfp-forms.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-forms.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-forms.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
}

.mfp-forms.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-forms.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
