@font-face {
  font-family: "PoiretOneNormal";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/PoiretOneNormal/PoiretOneNormal.eot?#iefix") format("embedded-opentype"), url("../fonts/PoiretOneNormal/PoiretOneNormal.woff") format("woff"), url("../fonts/PoiretOneNormal/PoiretOneNormal.ttf") format("truetype");
}
