
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, /* strong, */ sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/22px Arial, Tahoma, sans-serif;
	color: #575652;
	background: #171510 url(../img/bg.jpg) repeat;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {color: #000; text-decoration: none;}

/*Отступы*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.center {
	width: 940px;
	margin: 0 auto;
}


/*Прижатие футера к низу без позиционирования*/
.wrapper{
	/* margin-top: -161px; */
	padding-top: 161px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.content{
	padding-bottom: 235px;
}

footer{
	/* position: relative; */
	margin-top: -235px;  /*Прижатие футера к низу без позиционирования*/
	height: 235px;
	width: 100%;
	min-width: 940px;
	
}
/** Прижатие футера к низу без позиционирования **/

/* Общие стили */
h2,
h2 a{
	font: 40px/40px arial, sans-serif;
	color: #fff;
}

h3,
h3 a{
	font: 35px/35px arial, sans-serif;
	color: #575652;
}

h4,
h4 a{
	font: 16px/24px arial, sans-serif;
	text-transform: uppercase;
	color: #aeadad;
}

h5,
h5 a{
	font: bold 14px/22px Arial, Tahoma, sans-serif;
	color: #dad6cc;
}

/** Общие стили **/


/* HEADER */
header{
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 940px;
	padding-top: 30px;
	height: 161px;
	background: inherit;
	border-top: 10px solid #000;
}
.logo{
	display: block;
	margin-left: 35px;
}
.top-nav{
	display: block;
	margin-right: 40px;
}
.top-nav li{
	float: right;
}

.top-nav a{
	display: inline-block;
	height: 17px;
	width: 17px;
	vertical-align: middle;
	background: url(../img/header-nav-i.png) no-repeat;
}

.top-nav .top-home{background-position: 0 4px;}
.top-nav .top-menu{background-position: -66px 4px;}
.top-nav .top-mail{background-position: -131px 4px;}

/* Навигация*/
.bottom-nav{
	display: inline-block;
	margin-right:20px;
	margin-top: 35px;
}
.bottom-nav li{
	float: left;
	margin-right: 2px;
}
.bottom-nav li a{
	/* display: inline-block; */
	padding: 15px 20px;
	font: 15px/15px arial, sans-serif;
	color:#fff;
	text-transform: uppercase;
	transition: all .7s ease;
}
.active,
.bottom-nav li:hover a{
	background: #ffbe1c;
}
/** HEADER **/

/* Основной контент */
.contacts{
	padding: 20px 35px 30px;
	background: #dcd8ce;
	border-top: 5px solid #cdc8bc;
}
.address{
	margin-right: 20px;
	width: 280px;
	border-right: 2px groove #edece7;
}

.address h3,
.info h3{
	margin-bottom: 20px;
}

.address-title,
.info-title{
	display: inline-block;
	margin-right: 4px;
	padding: 3px 5px;
	color: #fff;
	background: #ffba1a;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.info-title{background: #9dce38;}	

.info p+p{margin-top: 15px;}


/* Форма обратной связи */
.form{
	padding: 35px 320px 35px 35px;
	background: url(../img/contact-form.png) no-repeat right 40px;
}

.form>h3{margin-bottom: 22px;}
.form .btn{cursor: pointer;}


#messege input[type="text"],
#messege textarea{
	padding: 0 10px;
	float: right;
	box-shadow: none;
	margin-bottom: 7px;
	width: 480px;
	font: 14px/14px arial,sans-serif;
	background: #000;
	color: #fff;
	border: none;
}
#messege input[type="text"]{height: 20px;}

#messege textarea{
	padding-top: 10px;
	height: 95px;
	resize: none;
}

#messege ul li{
	padding-top: 3px;
	line-height: 14px;
	height: 20px;
	margin-bottom: 7px;
}

#messege input[type="text"]:focus,
#messege textarea:focus{
	border: 1px solid #575652;
}

.button{
	clear: both;
	float: right;
}

.btn{
	margin-left: 10px;
	padding: 10px 35px;
	background: #69d4ac;
	font: 15px/15px arial, sans-serif;
	color:#fff;
	text-transform: uppercase;
	border: none;
}
.btn:hover{background: #3db186;}
.btn:active{background: #2b956d;}
/** Форма обратной связи **/

/** Основной контент **/


/* ФУТЕР */
.footer-top{
	padding: 30px 30px 0;
}

.social{margin-top: 10px;}
.social a{
	display: inline-block;
	margin-left: 4px;
	height: 18px;
	width: 18px;
	color:#fff;
	background: url(../img/f-soc-sprite.png) no-repeat;
}

.social .fb{background-position: 0 0;}
.social .tw{background-position: 0 -21px;}
.social .in{background-position: 0 -42px;}


.footer-bottom{
	margin-bottom: 30px;
	padding: 20px 30px 0;
}

.footer-nav li{
	float: left;
}
.footer-nav li a{
	color: #dad6cc;
}
.footer-nav .actived,
.footer-nav li:hover a{
	color: #575652;
}


.footer-tel{
	display: block;
	padding-left: 40px;
	height: 40px;
	font-size: 35px;
	color: #dedad1;
	background: url(../img/footer-tel.png) no-repeat left 2px;
}
.footer-tel span{
	color: #ffc11e;
}

.footer-creaters{
	text-align: center;
	padding-bottom: 40px;
}

.footer-creaters span{color: #dedad1;}

/** ФУТЕР **/









